<div class="cont">
  <div class="card">
    <button routerLink="/principal">volver</button>
    <form [formGroup]="formulario">
      <label for="rol">Seleccione Rol</label>
      <select name="rol" id="rol" formControlName="rol">
        <option value="profesional">PROFESIONAL</option>
        <option value="paciente">PACIENTE</option>
        <option value="administrativo">ADMINISTRATIVO</option>
      </select>

      <label for="area">Seleccione Área</label>
      <select name="area" id="area" formControlName="area" >
        <option value="clinica">Área clínica</option>
        <option value="bioquimica">Área bioquímica</option>
      </select>

      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" formControlName="nombre">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" formControlName="email">

      <label for="password">Password</label>
      <input type="password" id="password" name="password" formControlName="password">

      <button type="submit" (click)="onSubmit()">Registrar</button>
    </form>
  </div>
</div>
