<div class="container">
  <div class="card">
    <h3>Registro</h3>
    <form [formGroup]="formularioDeRegistro" (ngSubmit)="onSubmit()">
      <label for="rol">ROL</label>
      <select name="rol" id="rol" formControlName="rol">
        <option value="profesional">PROFESIONAL</option>
        <option value="administrativos">ADMINISTRATIVOS</option>
        <option value="paciente">PACIENTE</option>
      </select>
      <label for="area">AREA</label>
      <select name="area" id="area" formControlName="area">
        <option value="clinica">CLINICA</option>
        <option value="analisis">ANALISIS</option>
      </select>
      <label for="nombre">Nombre:</label>
      <input type="text" placeholder="ingrese nombre" formControlName="nombre">
      <label for="email">Email:</label>
      <input type="email" placeholder="ingrese email" formControlName="email">
      <label for="password">Password:</label>
      <input type="password" formControlName="password">
      <button>Registrar</button>
    </form>
  </div>
</div>
