<button routerLink="/listado">volver</button>
<div class="container">
    <div class="card">
      <h4>Editar ficha</h4>
      <form [formGroup]="formularioDeActualizacion" (ngSubmit)="onSubmit()">
        <label for="protocolo">Protocolo nº:</label>
        <input type="number" placeholder="Ingresar protocolo" formControlName="protocolo"><br><br>
  
        <label for="nombre">Nombre:</label>
        <input type="text" formControlName="nombre"><br><br>
  
        <label for="dni">DNI:</label>
        <input type="text" formControlName="dni"><br><br>
  
        <label for="nacimiento">Fecha de Nacimiento:</label>
        <input type="date" formControlName="nacimiento"><br><br>
  
        <label for="edad">Edad:</label>
        <input type="number" formControlName="edad"><br><br>
  
        <label for="direccion">Dirección:</label>
        <input type="text" formControlName="direccion"><br><br>
  
        <label for="localidad">Localidad:</label>
        <input type="text" formControlName="localidad"><br><br>
  
        <label for="telefono">Teléfono:</label>
        <input type="tel" formControlName="telefono"><br><br>
  
        <label for="email">Email:</label>
        <input type="email" formControlName="email"><br><br>
  
        <label for="seguridadSocial">Seguridad Social:</label>
        <input type="text" formControlName="seguridadSocial"><br><br>
  
        <label for="obs">Observaciones:</label>
        <textarea formControlName="obs" rows="4" cols="50"></textarea><br><br>
  
        <button type="submit" [disabled]="formularioDeActualizacion.invalid">Actualizar Cliente</button>
      </form>
    </div>
  </div>
  