<button routerLink="/dashboard">volver</button>
<div class="container-table">
  <h4 class="title">Listado de pacientes</h4>
  <div class="card">
    <label>Búsqueda</label>
    <input type="text" [(ngModel)]="filtroDeBusqueda.busquedaNombre">
  </div>

  <div *ngIf="isLoading" class="card">
    <h3>Cargando tabla...</h3>
  </div>

  <table class="listado-table" *ngIf="!isLoading">
    <thead>
      <tr>
        <th (click)="setOrderBy('protocolo')">Protocolo</th>
        <th (click)="setOrderBy('nombre')">Nombre y apellido</th>
        <th (click)="setOrderBy('dni')">DNI</th>
        <th (click)="setOrderBy('fechaNacimiento')">Fecha de nacimiento</th>
        <th (click)="setOrderBy('direccion')">Dirección</th>
        <th (click)="setOrderBy('telefono')">Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datosDeCliente | filtroNombre: filtroDeBusqueda.busquedaNombre | orderBy: order: reversa  | paginate: {itemsPerPage: 5, currentPage: p}">
        <td>{{ data.protocolo }}</td>
        <td>{{ data.nombre }}</td>
        <td>{{ data.dni }}</td>
        <td>{{ data.nacimiento | dateFormat }}</td>
        <td>{{ data.direccion }}</td>
        <td>{{ data.telefono }}</td>
        <td class="acciones">
          <button [routerLink]="['/detalles', data.id]">Ver</button>
          <button [routerLink]="['/actualizar-paciente', data.id]">Editar</button>
          <button (click)="funcionEliminarCliente(data.id)">Eliminar</button>
          <button [routerLink]="['/resultado-carga', data.id]">Cargar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>


