<div class="container">
    <div class="card">
        <h4>Listado de pacientes</h4>
        <table>
            <thead>
                <th>Protocolo</th>
                <th>Nombre y apellido</th>
                <th>DNI</th>
                <th>Fecha de nacimiento</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Creacion</th>
                <th>Acciones</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
