<div class="container-table">
    <h4 class="title">Listado de pacientes</h4>
    <table class="listado-table">
        <thead>
            <tr>
                <th>Protocolo</th>
                <th>Nombre y apellido</th>
                <th>DNI</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of datosDeCliente">
                <td>{{ data.protocolo }}</td>
                <td>{{ data.nombre }}</td>
                <td>{{ data.dni }}</td>
                <td>{{ data.nacimiento | dateFormat }}</td>
                <td>{{ data.direccion }}</td>
                <td>{{ data.telefono }}</td>
                <td class="acciones">
                    <button [routerLink]="['/detalles', data.id]">Ver</button>
                    <button [routerLink]="['/actualizar-paciente', data.id]">Editar</button>
                    <button (click)="funcionEliminarCliente(data.id)" >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
