<div>
  <h2>Cargar Resultados</h2>
  <label for="valor">Valor de U.B:</label>
  <input type="number" id="valor" name="valor" [(ngModel)]="valorDeUB" (ngModelChange)="obtenerValorUb()" />
  <div>
    <p>Valor de unidad base actualizado: {{ valorDeUB }}</p>
  </div>
</div>

<div>
  <h4>Buscar por Código</h4>
  <form (ngSubmit)="buscarPorCodigo()">
    <label>Código:</label>
    <input type="number" [(ngModel)]="codigo" name="codigo" />
    <button type="submit">Buscar</button>
  </form>

  <h3>Vista previa de resultados:</h3>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Determinación</th>
        <th>Unidad base</th>
        <th>Valor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resultadosGuardados">
        <td>{{ item.codigo }}</td>
        <td>{{ item.determinacion }}</td>
        <td>{{ item.unidadBase }}</td>
        <td>${{ item.valor }}</td>
        <td>
          <button (click)="eliminarDeVistaPrevia(item.id)">Eliminar</button>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><strong>Total:</strong></td>
        <td>${{ valorTotal }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <button (click)="guardarResultados()" >Guardar</button>
  <div *ngIf="error">
    <p>{{ error }}</p>
  </div>
</div>

<h3>Resultados Guardados:</h3>
<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Determinación</th>
      <th>Unidad base</th>
      <th>Valor</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of resultadosObtenidos">
      <td>{{ item.codigo }}</td>
        <td>{{ item.determinacion }}</td>
        <td>{{ item.unidadBase }}</td>
        <td>${{ item.valor }}</td>
        <td>
          <button (click)="eliminarDeBaseDeDatos(item.id)" >Eliminar</button>
        </td>
        <div *ngIf="error">
          <p>{{ error }}</p>
        </div>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><strong>Total:</strong></td>
        <td>${{ valorTotal }}</td>
        <td></td>
      </tr>
  </tbody>
</table>
