<div class="container">
    <div class="card">
      <h4>Nueva ficha</h4>
      <form [formGroup]="clienteForm" (ngSubmit)="submitForm()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre"><br><br>
  
        <label for="dni">DNI:</label>
        <input type="text" id="dni" formControlName="dni"><br><br>
  
        <label for="nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="nacimiento" formControlName="nacimiento"><br><br>
  
        <label for="edad">Edad:</label>
        <input type="number" id="edad" formControlName="edad"><br><br>
  
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" formControlName="direccion"><br><br>
  
        <label for="localidad">Localidad:</label>
        <input type="text" id="localidad" formControlName="localidad"><br><br>
  
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" formControlName="telefono"><br><br>
  
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email"><br><br>
  
        <label for="seguridadSocial">Seguridad Social:</label>
        <input type="text" id="seguridadSocial" formControlName="seguridadSocial"><br><br>
  
        <label for="obs">Observaciones:</label>
        <textarea id="obs" formControlName="obs" rows="4" cols="50"></textarea><br><br>
  
        <button type="submit" [disabled]="clienteForm.invalid">Crear Cliente</button>
      </form>
    </div>
  </div>
  
