<button routerLink="/listado" >volver</button>
<div class="card" *ngIf="isLoading">
    <h3>Cargando datos del paciente...</h3>
</div>
<div class="container" *ngIf="!isLoading">
    <div class="card">
        <h3>DATOS DEL PACIENTE</h3>
        <p>Nº de protocolo: {{datosDeCliente.protocolo}}</p>
        <p>Fecha de creacion: {{ datosDeCliente.createdAt | dateFormat }}</p>
        <h2><strong>Nombre y apellido: </strong>{{ datosDeCliente.nombre }}</h2>
        <p>DNI: {{ datosDeCliente.dni }}</p>
        <p>Fecha de Nacimiento: {{ datosDeCliente.nacimiento | dateFormat }}</p>
        <p>Edad: {{datosDeCliente.edad}} años</p>
        <p>Email: {{ datosDeCliente.email }}</p>
        <p>Telefono: {{ datosDeCliente.telefono }}</p>
        <p>Direccion: {{ datosDeCliente.direccion }}</p>
        <p>Localidad: {{ datosDeCliente.localidad }}</p>
        <p>Obra Social: {{ datosDeCliente.seguridadSocial }}</p>
        <p>Observaciones: {{ datosDeCliente.obs }}</p>
    </div>

    <div class="card" *ngIf="isLoading">
        <h3>Cargando resultados...</h3>
    </div>
    <h3>RESULTADOS</h3>
    <table *ngIf="!isLoading"class="listado-table">
        <thead>
            <th>codigo</th>
            <th>determinacion</th>
            <th>resultado</th>
            <th>U.B</th>
            <th>valor</th>
            <th>Accion</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of resultados">
                <td>{{item.codigo}}</td>
                <td>{{item.determinacion}}</td>
                <td>{{item.resultado}}</td>
                <td>{{item.unidadBase}}</td>
                <td>{{item.valorTotal}}</td>
                <td>
                    <button (click)="eliminarResultadoPorId(item.id)">eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Valor Total: ${{valorSumar}}</p>
</div>