<div class="container">
    <div class="card">
        <h3>DATOS DEL PACIENTE</h3>
        <p>Fecha de creacion: {{ datosDeCliente.createdAt | dateFormat }}</p>
        <h2><strong>Nombre y apellido: </strong>{{ datosDeCliente.nombre }}</h2>
        <p>DNI: {{ datosDeCliente.dni }}</p>
        <p>Fecha de Nacimiento: {{ datosDeCliente.nacimiento | dateFormat }}</p>
        <p>Email: {{ datosDeCliente.email }}</p>
        <p>Telefono: {{ datosDeCliente.telefono }}</p>
        <p>Direccion: {{ datosDeCliente.direccion }}</p>
        <p>Localidad: {{ datosDeCliente.localidad }}</p>
        <p>Obra Social: {{ datosDeCliente.obraSocial }}</p>
        <p>Observaciones: {{ datosDeCliente.obs }}</p>
    </div>

    <h3>RESULTADOS</h3>
    <table>
        <thead>
            <th>codigo</th>
            <th>determinacion</th>
            <th>resultado</th>
            <th>U.B</th>
            <th>valor</th>
            <th>Accion</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of resultados">
                <td>{{item.codigo}}</td>
                <td>{{item.determinacion}}</td>
                <td>{{item.resultado}}</td>
                <td>{{item.unidadBase}}</td>
                <td>{{item.valorTotal}}</td>
                <td>
                    <button (click)="eliminarResultadoPorId(item.id)">eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>