<div class="card">
    <input type="search" [(ngModel)]="searchText" placeholder="Buscar..." (ngModelChange)="onSearchTextChange()">
    <table>
        <thead>
            <tr>
                <th>Protocolo</th>
                <th>Nombre y apellido</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredData | paginate: {itemsPerPage: 5, currentPage: p}">
                <td>{{item.protocolo}}</td>
                <td>{{item.nombre}}</td>
                <td>
                    <button (click)="funcionSeleccionar(item)">Seleccionar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

    <div *ngIf="clienteSeleccionado" class="detalle-cliente">
        <h3>Detalles del Cliente Seleccionado</h3>
        <p><strong>Cliente seleccionado:</strong> {{ clienteSeleccionado.nombre }}</p>
    </div>
</div>

<div class="card">
    <h4>Cargar valor de unidad base</h4>
    <input type="number" #valor>
    <button (click)="obtenerValor(valor.value)">Guardar</button>
    <div>
        <p><strong>Valor de U.B cargado: </strong>{{ valor_unitario }}</p>
    </div>
</div>


<div class="container">
    <div class="card">
        <h2>Buscar por Código</h2>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <label for="codigo">Código:</label>
            <input type="number" id="codigo" formControlName="codigo">
            <button type="submit">Buscar</button>
        </form>
        <div>
            <div *ngIf="showResult && nomenclaturas.length === 0" class="no-result">
                <p>No se encontraron resultados para el código {{ searchForm.value.codigo }}</p>
            </div>

            <div *ngIf="showResult === false && searchForm.valid" class="initial-message">
                <p>Ingresa un código para realizar la búsqueda</p>
            </div>

            <div *ngIf="searchForm.invalid && searchForm.dirty" class="invalid-message">
                <p>El código es requerido y debe ser un número válido</p>
            </div>
        </div>
    </div>

    <div class="container-table" *ngIf="showResult && nomenclaturas.length > 0">
        <h4 class="title">Lista de Resultado</h4>
        <table class="listado-table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Determinación</th>
                    <th>Resultado</th> <!-- Aquí irá el input editable por el usuario -->
                    <th>U.B</th>
                    <th>Valor</th> <!-- Mostrará el resultado de la multiplicación -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let nomenclatura of nomenclaturas">
                    <td>{{ nomenclatura.codigo }}</td>
                    <td>{{ nomenclatura.determinacion }}</td>
                    <td><input type="number" [(ngModel)]="nomenclatura.resultado"></td>
                    <td>{{ nomenclatura.unidadBase }}</td>
                    <td>{{ nomenclatura.valorTotal }}</td>
                  </tr>
                  
            </tbody>
        </table>
        

        <button (click)="guardarResultados()">Guardar Resultado</button>
        
    </div>
</div>
