<div class="flex items-center space-x-2 mb-4 ml-3">
  <i class="pi pi-arrow-left text-2xl"></i>
  <span class="text-lg font-semibold text-white" routerLink="/dash-prof">volver</span>
</div>

<div class="card mt-4 p-4 shadow-lg rounded-lg bg-white">
    <label class="block text-lg font-medium text-gray-700">Búsqueda</label>
    <input type="text" [(ngModel)]="filtroDeBusqueda.busquedaDeterminacion" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
  </div>
  
  <div class="overflow-x-auto mt-6">
    <table class="min-w-full bg-white rounded-lg shadow-lg">
      <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <tr>
          <th class="py-3 px-6 text-left">Código</th>
          <th class="py-3 px-6 text-left">Determinación</th>
          <th class="py-3 px-6 text-left">U.B</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <tr *ngFor="let item of nomenclaturaCompleta | filtroDeterminacion: filtroDeBusqueda.busquedaDeterminacion | paginate: { itemsPerPage: 20, currentPage: p }" class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left whitespace-nowrap">{{ item.codigo }}</td>
          <td class="py-3 px-6 text-left">{{ item.determinacion }}</td>
          <td class="py-3 px-6 text-left">{{ item.unidadBase }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="mt-4 flex justify-center bg-green-100 p-4 rounded-lg">
    <pagination-controls class="pagination" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
  
