.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
}

.card-body {
  padding: 20px;
}

.listado-table table {
  width: 100%;
}

.text-center {
  text-align: center;
}

