<div class="card">
  <div class="card-header">
    <h4 class="title-right">Datos de cliente</h4>
  </div>
  <div class="card-body">
    <div class="column">
      <h5><strong>Nombre:</strong> {{datosDeCliente.nombre}}</h5>
      <h5><strong>DNI:</strong> {{datosDeCliente.dni}}</h5>
      <h5><strong>Fecha de nacimiento:</strong> {{datosDeCliente.nacimiento | dateFormat}}</h5>
      <h5><strong>Edad:</strong> {{datosDeCliente.edad}}</h5>
      <h5><strong>Teléfono:</strong> {{datosDeCliente.telefono}}</h5>
      <h5><strong>Email:</strong> {{datosDeCliente.email}}</h5>
    </div>
    <div class="column">
      <h5><strong>Obra Social:</strong> {{datosDeCliente.seguridadSocial}}</h5>
      <h5><strong>Dirección:</strong> {{datosDeCliente.direccion}}</h5>
      <h5><strong>Localidad:</strong> {{datosDeCliente.localidad}}</h5>
      <h5><strong>Observaciones:</strong> {{datosDeCliente.obs}}</h5>
      <button (click)="salir()">Salir</button>
    </div>
  </div>
</div>

<div class="card" *ngIf="datosDeUsuario">
  <h5>Profesional Interviniente</h5>
  <p><strong>Area: </strong> {{datosDeUsuario.area}}</p>
  <p><strong>Nombre: </strong> {{datosDeUsuario.nombre}}</p>
</div>

<p-accordion [activeIndex]="0">
  <p-accordionTab [header]="tab.titulo" *ngFor="let tab of indicacionesBackend">
    <p class="m-0">
      {{ tab.texto }}
    </p>
  </p-accordionTab>
</p-accordion>

<h4 class="text-center">Resultados</h4>
<div class="card" *ngIf="sinResultados">
  Aun no se han cargado los resultados de sus exámenes.
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div>
        <div class="card-body">
          <div class="listado-table" *ngIf="!sinResultados">
            <table class="table">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Determinación</th>
                  <th>Resultado</th>
                  <th>U.B</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of resultados">
                  <td>{{ item.codigo }}</td>
                  <td>{{ item.determinacion }}</td>
                  <td>{{ item.resultado }}</td>
                  <td>{{ item.unidadBase }}</td>
                  <td>${{ item.valorTotal }}</td>
                </tr>
              </tbody>
            </table>
            <p>Valor Total: $ {{sumarValor}}</p>
          </div>
          <div class="text-center" *ngIf="sinResultados">
            No se encontraron resultados.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>