<div class="container">
  <div class="card">
    <h5><strong>FORMULARIO DE REGISTRO DE PACIENTES</strong></h5>
    <form [formGroup]="formularioDeCliente" (ngSubmit)="crearNuevoCliente()">
      <label for="protocolo">Nº Protocolo:</label>
      <input type="number" formControlName="protocolo">
      <label for="nombre">Nombre y apellido:</label>
      <input type="text" formControlName="nombre">
      <label for="dni">DNI:</label>
      <input type="number" formControlName="dni">
      <label for="nacimiento">Fecha de nacimiento:</label>
      <input type="date" formControlName="nacimiento">
      <label for="edad">Edad:</label>
      <input type="number" formControlName="edad">
      <label for="direccion">Dirección:</label>
      <input type="text" formControlName="direccion">
      <label for="localidad">Localidad:</label>
      <input type="text" formControlName="localidad">
      <label for="telefono">Teléfono:</label>
      <input type="text" formControlName="telefono">
      <label for="email">Email:</label>
      <input type="email" formControlName="email">
      <label for="seguridadSocial">Obra social:</label>
      <select formControlName="seguridadSocial">
        <option value="iapos">IAPOS</option>
        <option value="pami">PAMI</option>
        <option value="otro">OTROS</option>
      </select>
      <span>En caso de no encontrar la entidad requerida, coloque otros y luego puede especificar en observaciones</span>
      <label for="obs">Observación:</label>
      <textarea formControlName="obs" id="obs" cols="30" rows="10"></textarea>
      <button type="submit">Crear ficha</button>
    </form>
  </div>
</div>
