.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido dentro de la tarjeta */
  }
  
  .card h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card input[type="text"],
  .card textarea {
    width: 80%; /* Ancho ajustado */
    max-width: 400px; /* Máximo ancho para evitar que se extienda demasiado */
    display: block; /* Hace que el input y textarea ocupen el ancho especificado */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .card textarea {
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
  }
  
  .card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .card button:hover {
    background-color: #0056b3;
  }
  
  