<div class="container">
    <div class="card">
        <h4>Formulario de registro</h4>
        <form [formGroup]="formularioDeRegistro" (ngSubmit)="onSubmit()">
            <label for="rol">ROL</label>
            <select name="rol" id="rol" formControlName="rol">
                <option value="profesional">PROFESIONAL</option>
                <option value="administrativo">ADMINISTRATIVO</option>
                <option value="paciente">PACIENTE</option>
            </select>
            <label for="area">AREA</label>
            <select name="area" id="area" formControlName="area">
                <option value="clinica">CLINICA</option>
                <option value="analisis">ANALISIS</option>
                <option value="terapia">TERAPIA</option>
            </select>
            <label for="nombre">NOMBRE</label>
            <input type="text" placeholder="ingrese nombre" name="nombre" formControlName="nombre">
            <label for="email">EMAIL</label>
            <input type="email" placeholder="ingrese email" name="email" formControlName="email">
            <label for="password">PASSWORD</label>
            <input type="password" placeholder="ingrese password" name="password" formControlName="password">
            <button [disabled]="!formularioDeRegistro?.valid" >Registrar</button>
        </form>
    </div>
</div>
