@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.card table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Fijar el ancho de las columnas */
}

.card table th,
.card table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Evitar que el texto se rompa en varias líneas */
  /* overflow: hidden; Quitar overflow para mostrar completamente el botón */
  /* text-overflow: ellipsis; Quitar text-overflow para mostrar completamente el botón */
}

.card table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.card table tbody tr:hover {
  background-color: #f5f5f5;
}

.card table button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card table button:not(:last-child) {
  margin-right: 5px;
}

.card table button:hover {
  background-color: #0056b3;
}

/* Estilos generales para tarjetas (cards) */
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 100%;
  max-width: 600px; /* Ancho máximo para las tarjetas */
  text-align: center; /* Centrar contenido */
  margin: 0 auto 20px; /* Centrar horizontalmente y añadir margen inferior */
}

/* Estilos para títulos de sección */
.card h4 {
  margin-top: 0;
}

/* Estilos para formularios dentro de tarjetas */
.card form {
  display: flex;
  flex-direction: column;
}

.card form label {
  margin-bottom: 5px;
}

.card form input,
.card form select,
.card form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilos para listas dentro de tarjetas */
.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  margin-bottom: 10px;
}

.card ul li a {
  color: #007bff;
  text-decoration: none;
}

.card ul li a:hover {
  text-decoration: underline;
}


/*********************************************************************************/
/* Estilos para tabla específica */
/* Estilos globales para todas las tablas */
/* Estilos específicos para la tabla */
/* Estilos específicos para la tabla */
.listado-table {
  width: 1100px; /* Ancho de la tabla */
  margin: 0 auto; /* Centrar horizontalmente */
  border-collapse: collapse; /* Colapso de bordes */
  border: 1px solid #ddd; /* Borde delgada gris */
  background-color: #fff; /* Fondo blanco */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Fuente */
}

.listado-table th,
.listado-table td {
  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alineación de texto a la izquierda */
  border: 1px solid #ddd; /* Borde delgada gris */
}

.listado-table th {
  background-color: #f2f2f2; /* Fondo gris claro para las celdas de encabezado */
}

.listado-table .acciones button {
  margin-right: 5px; /* Espacio entre los botones */
  padding: 5px 10px; /* Espaciado interno de los botones */
  background-color: #007bff; /* Color de fondo azul para los botones */
  color: #fff; /* Color de texto blanco */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor apuntador */
  font-size: 14px; /* Tamaño de fuente */
}

.listado-table .acciones button:hover {
  background-color: #0056b3; /* Color de fondo azul oscuro al pasar el mouse */
}

/* Estilos para el contenedor general */
.container-table {
  text-align: center; /* Centrar el contenido del contenedor */
  margin-top: 20px; /* Margen superior */
}

.container-table .title {
  margin-bottom: 10px; /* Margen inferior para el título */
  font-size: 24px; /* Tamaño de fuente del título */
}

.container {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección a columna */
  align-items: center; /* Centramos los elementos horizontalmente */
  margin-bottom: 20px; /* Espaciado entre componentes */
}

.container .card {
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

