<div class="container">
    <div class="card">
        <h4>Acceso de pacientes</h4>
        <form [formGroup]="formularioDeLogeo" (ngSubmit)="onSubmit()">
            <label for="email">EMAIL</label>
            <input type="email" placeholder="ingrese email" name="email" formControlName="email">
            <label for="dni">DNI</label>
            <input type="dni" placeholder="ingrese dni" name="dni" formControlName="dni">
            <button [disabled]="!formularioDeLogeo.valid" >Ingresar</button>
        </form>
    </div>
</div>

