<div *ngIf="cargando">
  <h1>Cargando datos del cliente...</h1>
</div>
<div *ngIf="!cargando && clienteObtenido" id="theContent">
  <div class="container">
    <div class="card">
      <h1>Datos del cliente:</h1>
      <h3>Nombre: {{ clienteObtenido.nombre }}</h3>
      <h5>DNI: {{ clienteObtenido.dni }}</h5>
      <h5>Edad: {{ clienteObtenido.edad }}</h5>
      <h5>Teléfono: {{ clienteObtenido.telefono }}</h5>
      <h5>Email: {{ clienteObtenido.email }}</h5>
      <h5>Direccion: {{ clienteObtenido.direccion }}</h5>
      <h5>Localidad: {{ clienteObtenido.localidad }}</h5>
      <h5>Obra Social: {{ clienteObtenido.seguridadSocial }}</h5>
      <h5>Observaciones: {{ clienteObtenido.obs }}</h5>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <h3>Resultados:</h3>
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Determinación</th>
            <th>Unidad Base</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultadosObtenidos">
            <td>{{ item.codigo }}</td>
            <td>{{ item.determinacion }}</td>
            <td>{{ item.unidadBase }}</td>
            <td>{{ item.valor }}</td>
          </tr>
        </tbody>
      </table>
      <strong>Valor Total: {{ valorTotal }}</strong>
    </div>
  </div>
</div>
<div>
  <button (click)="rutaCarga(idCliente)">Ver Resultados</button>
  <button (click)="generarPDF()">Generar PDF</button>
</div>
