.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tu diseño */
}

.card {
    text-align: center;
    width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
    max-width: 400px; /* Ancho máximo de la tarjeta */
    padding: 20px; /* Espaciado interno de la tarjeta */
    background-color: #584f4f; /* Color de fondo de la tarjeta (opcional) */
    border-radius: 10px; /* Bordes redondeados de la tarjeta (opcional) */
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    padding: 15px 20px; /* Padding interno del botón */
    text-align: center; /* Centrar texto dentro del botón */
    background-color: #007bff; /* Color de fondo del botón (cambia según tu diseño) */
    color: white; /* Color del texto dentro del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    width: 100%; /* Ocupar todo el ancho disponible */
    display: block; /* Mostrar botón como bloque para que se presente en una línea */
    text-decoration: none; /* Quitar subrayado del enlace */
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse (cambia según tu diseño) */
}

button a {
    text-decoration: none; /* Quitar subrayado del enlace */
    color: inherit; /* Heredar color del texto del botón */
}




