<div class="container">
    <h1>Panel de control</h1>
    <div class="card">
        <ul>
            <button><a routerLink="/nuevo">Crear nueva ficha</a></button>
            <button><a routerLink="/listado">Mostrar listado de pacientes</a></button>
            <button><a routerLink="/resultado">Cargar resultados de pacientes</a></button>
            <button><a routerLink="/nomenclatura">Consultar nomenclatura</a></button>
            <button><a routerLink="/perfil">Perfil de usuario</a></button>
        </ul>
    </div>
</div>
